<div class="sign_in">
  <h2 class="heading">Sign In</h2>
  <div class="card">
    <div class="card-body sign_in_container">
      <div class="welcome">
        <%= image_tag "GetStuff.png" %>
        <h2>Welcome To GetStuff</h2>
      </div>
  
      <div class="sign_in_form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class: "label-text" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password, class: "label-text" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me, class: "label-text" %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in", class: "sign_in_btn btn btn-primary" %>
          </div>
        <% end %>

        <%= render "users/shared/links" %>
      </div>
    </div>
  </div> 
</div>       
