<div class="sign_up">
  <div class="card">
    <div class="card-body sign_up_container">
      <div class="welcome">
        <%= image_tag "GetStuff.png" %>
        <h2>Welcome To GetStuff</h2>
      </div>
  
      <div class="sign_up_form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>
  
          <%= f.hidden_field :type, value: 'Customer' %>  
          <div class="field">
            <%= f.label :first_name, class: "label-text" %><br />
            <%= f.text_field :first_name, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :last_name, class: "label-text" %><br />
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
  
          <div class="field">
            <%= f.label :email, class: "label-text" %><br />
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password, class: "label-text" %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class: "label-text" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "sign_up_btn btn btn-primary"  %>
          </div>
        <% end %>

        <%= render "users/shared/links" %>  
      </div>
    </div>
  </div>
</div>  